*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.galimg{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;

}

.galimg img{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    animation-name: imageani;
    animation-duration: 1s;
    animation-timeline: view();
    /* animation-range: 20% 80%; */
    animation-range:entry 0% cover 40% ;
    
}

@keyframes imageani {
    from{
        opacity: 0.8;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}



